<div class ="container">
  <div style="display:inline-block; min-height:290px;">
      <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Visited Countries</h4>
      <canvas id="pie" class="chart chart-pie" data="visits" labels="countries"></canvas>
    </div>
<!--     <ul style="list-style-type: none">
      <li ng-repeat="(key, value) in countryCount" class="">
        {{key}} {{value}}
      </li>
    </ul> -->
  </div>
</div>
