<div class ="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <h4>Start:</h4>
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtStart" is-open="openedStart" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
    <div class="col-md-3">
      <h4>End:</h4>
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtEnd" is-open="openedEnd" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
    <div class="col-md-3"></div>
  </div>
  <tabset>
    <tab ng-repeat="tab in tabs" heading="{{tab.heading}}" active="tab.active">
    </tab>
    <div ng-if="tabs[0].active" ng-controller="pieByCountry">
      <div ng-include="tabs[0].template"></div>
    </div>
    <div ng-if="tabs[1].active">
      <div ng-include="tabs[1].template"></div>
    </div>
    <div ng-if="tabs[2].active">
      <div ng-include="tabs[2].template"></div>
    </div>
  </tabset>
</div>
